.page-numbers-block {
    padding: 1vw;
    display: flex;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5vw;


    .page-numbers-block__element {


        border-radius: 8px;
        border: 2px solid #F1F1F1;

        margin: 8px;

        width: 4vmax;
        height: 4vmax;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.3s;
        text-decoration: none;
        color: black;
        -webkit-transform-origin: bottom;
        transform: scale(1);

        span {
            vertical-align: middle;
        }

    }

    .page-numbers-block__element_active {
        transition-duration: 0.3s;
        width: 4.2vmax;
        height: 4.2vmax;
        background-color: #3A80BA;
        color: white;
        transform: scale(1.1);



    }

    .page-numbers-block__left-arrow {
        transform: rotate(180deg);
    }

    .page-numbers-block__rigth-arrow_no-active {
        transform: rotate(-180deg);

    }
}