.page-numbers-block {
    margin: 20px;
    padding: 40px;
    border: 1px solid black;
    display: flex;

    .page-numbers-block__element {
        border-radius: 8px;
        border: 2px solid #F1F1F1;

        margin: 8px;
        width: 48px;
        height: 48px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.3s;

        -webkit-transform-origin: bottom;
        transform: scale(1);



        span {
            vertical-align: middle;
        }

    }

    .page-numbers-block__element_active {
        transition-duration: 0.3s;
        width: 54px;
        height: 54px;
        background-color: #3A80BA;
        color: white;
        transform: scale(1.1);



    }

    .page-numbers-block__control-element {}
}