$bar-height: 4em;

.main-header {


    img {
        width: 100%;
    }

    .main-header__container {
        margin-left: 7vw;
        // margin-left: 8.125em;

        .main-header__logo {
            cursor: pointer;
            z-index: 100;
            position: absolute;

            font-family: Montserrat;
            color: white;
            text-decoration-color: black;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            line-height: $bar-height/3;
            font-size: 40px;
            z-index: 1;
        }


        .main-header__mobile-img {
            position: absolute;
            right: 10vw;
            top: 5vh;
            width: 24vw;
            // margin-left: 135px;
        }

        .main-header__info {
            z-index: 1;
            position: absolute;
            margin-top: 8vh;
            color: white;
            font-size: 3vw;


            .main-header__first-block {
                position: relative;

                .main-header__first-block-text {
                    width: 60%;
                }


            }

            .main-header__second-block {
                .main-header__second-block-text {
                    width: 38vw;

                }

                font-size: 2vw;
                margin-top: 24px;
                display: flex;

            }


            .main-header__views-stats-link {
                color: #3A80BA;
                text-decoration: none;


                .main-header__views-stats {
                    margin-top: 2vh;


                    width: 11vw;
                    text-align: center;

                    background: #FFFFFF;
                    border-radius: 8px;
                    font-size: 2vw;
                    line-height: 50px;
                }
            }

            span {
                font-weight: bold;
            }

        }
    }
}