.users-page {
    .users-page__users-table {
        margin: auto;
        width: fit-content;

        margin-left: auto;
        margin-right: auto;

        .users-page__main-title {
            font-size: 2em;
            font-weight: 700;
            margin: 5px;
        }

    }
}